<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis Web</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

    <div class="container">

        <div class="ring"></div>

        <h1 class="title">JARVIS ONLINE</h1>

        <button class="mic-button" onclick="startRecognition()">
            🎤
        </button>

        <p id="status">Pulsa el micrófono para hablar</p>

        <p id="responseText" class="response"></p>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>
